.button {
  padding: 1.2rem 1.6rem;
  border-radius: 16px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
  background: var(--color-gray-blue);
  width: 330px;
  min-height: 64px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 6px 0px var(--color-purple-transparent);
  font-size: 1.4rem;
  font-weight: var(--fw-400);
}

.button:hover {
  background-color: var(--color-gray-blue);
  transform: scale(1.02);
}

.button:active {
  background: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
  color: var(--color-white);
  transform: scale(0.98);
}

.secondary {
  color: var(--color-purple);
}

.secondary:active {
  background: var(--color-light-blue);
  color: var(--color-purple);
  transform: scale(0.98);
}
