.button {
  padding: 12px 16px;
  border-radius: 16px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  background: #EAEEF7;
  width: 330px;
  min-height: 64px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 2px 2px 6px 0px #543C9740;
  font-size: 14px;
  font-weight: 400;
}

.button:hover {
  background-color: #DADFE8;
  transform: scale(1.02);
}

.button:active {
  background: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
  color: white;
  transform: scale(0.98);
}

.secondary {
  color: #543C97;
}

.secondary:active {
  background: #EAEEF7;
  color: #543C97;
  transform: scale(0.98);
}
