.answerItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
}

.question {
  font-size: 1.6rem;
  font-weight: var(--fw-700);
  flex: 1;
}

.answer {
  font-size: 1.6rem;
  color: var(--color-middle-gray);
  flex: 1;
  text-align: right;
}
