.infoScreen {
  background: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
  height: 100vh;
}

.header {
  margin-bottom: 2rem;
}

.innerContentWrapper {
  max-width: 328px;
  margin: 0 auto;
  color: var(--color-off-white);
  text-align: center;
}

.header {
  font-size: 2.4rem;
  font-weight: var(--fw-700);
  color: var(--color-off-white);
  margin-bottom: 2rem;
}

.bodyContent {
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  margin-bottom: 4rem;
  line-height: 25px;
}
