.singleChoiceContainer {
  background-color: var(--color-light-pink);
  height: 100%;
}

.contentWrapper {
  width: 330px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-light-pink);
}

.header {
  margin-bottom: 2rem;
}

.subtitle {
  margin-bottom: 3rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}
